
body {
  min-height: 100vh;
  position: relative;
  display: flex;
  flex-flow: column;
  align-items: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1.2rem;
}

header, footer {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: rgb(74, 49, 99);
  color: seashell;
  padding: 15px;
  /* flex: 1 1 auto; */
}

header > div {
  width: 960px;
  display: flex;
  align-items: center;
}

nav {
  flex-grow: 1;
}

nav ul {
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
}

main {
  width: 960px;
  margin-bottom: 130px;
}

main > img {
  margin-top: 30px;
}

main > div {
  display: flex;
  flex: none;
  justify-content: space-between;
  align-content: flex-start;
  margin-top: 30px;
}

main > section {
  height: 400px;
  margin-top: 30px;
  display: flex;
}

main > section > img {
  min-width: 50%;
  width: 50%;
  height: 400px;
  align-self: center;
}

main > section > div {
  height: 100%;
  padding-left: 30px;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}

main > section > div > h3 {
  font-size: 1.5rem;
  font-weight: 600;
  margin: 0;
}

main > section > div > p {
  margin-top: 15px;
  margin-bottom: 15px;
  overflow: scroll;
}

button {
  height: 32px;
  width: 40%;
  border: none;
  padding: 4px;
  background-color: rgb(74, 49, 99);
  color: seashell;
  font-size: 1.2rem;
}

footer {
  height: 70px;
  position: absolute;
  bottom: 0;
}
